.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}

.load {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top: 10px solid #142f43;
  border-bottom: 10px solid #142f43;
  animation: rotateAntiCW 1.8s linear infinite;
  margin: 0 auto;
}

.load::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-left: 10px solid #ddd;
  border-right: 10px solid #ddd;
  animation: rotate 1s linear infinite;
}

.loader-text {
  margin-top: 60px;
  font-size: 2em;
  letter-spacing: 2px;
  word-spacing: 4px;
  font-weight: 500;
  color: #142f43;
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotateAntiCW {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
