body {
  background-color: #fff;
  background: url("./img/heroPlus.svg") center center no-repeat;
  background-size: cover;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

@media (max-width: 480px) {
  .routing-children {
    margin: 10px;
  }
}

@media (max-width: 959px) {
  .page-container {
    justify-content: center;
  }
}
