/* .main-container {
  margin: 0 10px;
} */

.main-container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1300px;
  background-color: rgba(252, 252, 252, 0.221);
  backdrop-filter: blur(10px);
  border-radius: 6px;
}

@media (min-width: 960px) {
  .main-container {
    padding: 60px 80px;
  }
}
