.main-container {
  margin: 100px 10px 0 10px;
}

.children-container {
  margin: 0 auto;
  padding: 10px;
  max-width: 1100px;
  background-color: rgba(248, 140, 17, 0.3);
  backdrop-filter: blur(35px);
  border-radius: 8px;
}

@media (min-width: 960px) {
  .children-container {
    margin-top: 250px;
    padding: 0 30px 50px 30px;
  }
}
