.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* justify-content: space-between;/ */
  position: relative;
}

.routing-children {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
}

@media (max-width: 480px) {
  .routing-children {
    margin-top: 70px;
  }
}
