.mainContainerWrapper {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  border-radius: 15px 15px;
  background-color: white;
}

.containerPaginatorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  background-color: #142f43;
  border-radius: 0 0 15px 15px;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper button {
  cursor: pointer;
}

.contentWrapper button:disabled {
  cursor: initial;
}

.contentWrapper span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 12px 12px;
  width: 10px;
  height: 10px;
  font-size: 18px;
  color: rgb(221, 220, 220);
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.containerPaginatorWrapper .contentWrapper-arrowIcon {
  padding-top: 14px;
  color: orange;
  cursor: pointer;
}

.containerPaginatorWrapper .contentWrapper-arrowIcon.Mui-disabled {
  color: #949ba0;
}

.containerPaginatorWrapper .activeClass {
  font-weight: bold;
  color: orange;
}

.containerPaginatorWrapper--active {
  opacity: 0.9;
}
