.loader-container {
  margin: 0 auto;
  padding: 40px 0;
  min-height: 40vh;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgba(255, 255, 255, 0.6); */
  background-color: transparent;
  /* backdrop-filter: blur(20px); */
  border-radius: 8px;
}

.load {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top: 10px solid #142f43;
  border-bottom: 10px solid #142f43;
  animation: rotateAntiCW 1.8s linear infinite;
  margin: 0 auto;
}

.load::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-left: 10px solid orange;
  border-right: 10px solid orange;
  animation: rotate 1s linear infinite;
}

.loader-text {
  margin-top: 60px;
  text-align: "center";
  font-size: 2em;
  letter-spacing: 2px;
  word-spacing: 4px;
  font-weight: 500;
  color: #142f43;
}

@media (max-width: 768px) {
  .load {
    width: 80px;
    height: 80px;
  }
  .load::after {
    width: 60px;
    height: 60px;
  }
  .loader-text {
    font-size: 1.5em;
  }
}

@media (min-width: 960px) {
  .loader-container {
    margin-top: 240px;
  }
}

@media (orientation: landscape) {
  .loader-container {
    padding: 20px;
  }
  .load {
    width: 80px;
    height: 80px;
  }
  .load::after {
    width: 60px;
    height: 60px;
  }
  .loader-text {
    font-size: 1.5em;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotateAntiCW {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn ease-in;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

/* dots flashing */

.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

@media (max-width: 400px) {
  .text-container {
    flex-direction: column;
  }
  .dot-container {
    /* margin-top: -80px; */
    margin-left: 0;
  }
}

.dot-flashing {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #142f43;
  color: #142f43;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
  margin-left: 20px;
  margin-top: 47px;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #142f43;
  color: #142f43;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #142f43;
  color: #142f43;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #142f43;
  }
  50% {
    background-color: #1f405b;
  }
  100% {
    background-color: #abcde8;
  }
}
